/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url('../img/about-bg.jpg') center/cover no-repeat;
    color: #000000;
    background-size: cover;
    position: relative;
}


/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Styling for the "About Us" text */
.about-us-text {
    font-size: 1.5em;
    margin-bottom: 30px;
}
